<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

  <title>CorBanking</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body >
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">COR BANKING</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/home">Home</a></li>
        <li><a href="/accounts/login">Customer</a></li>
        <li><a href="/regis">Signup</a></li>
        <li><a href="/accounts/login">Login</a></li>
        <li><a href="/accounts/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
</body>
{% block content %}

{% endblock %}

</html>
